* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: blueviolet;
    height: 6vh;
}

#nuevaNota {
    display: flex;
    justify-content: center;
    background-color: #FCDC2A;
    min-height: 14vh;
    gap: 2rem;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#botones {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}
button{
    width: 100%;
}
#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;
    min-height: 80vh;
    z-index: 0;
}

.card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    z-index: 1;
    background-color: white;
}